<main role="main" class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="well">
        <div class="my-3 p-3 light-theme rounded shadow-sm">       
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block light-theme"><%= business.name %></strong>
          <%= truncate(business.body, :length => 200) %>
          </p>       
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <%= link_to 'View Details', location_business_path(business.location, business.id), class: "btn btn-tertiary light-theme" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="well"><p><div class="star-rating" data-score="<%= business.ratings.average(:stars)%>"></div></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  $(document).ready(function(e) {  
    $('.star-rating').raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      path: '/assets/'
    });
  });
</script>