<div class="container light-theme">

  <h3><%= @location.name %></h3>

  <h3><%= @category.name unless @category == nil %></h3>


  <%= render @businesses %>

  <%= paginate @businesses %>
    
</div>
