<div class="container light-theme">
  <div class="login">
    <div class="card">
      <div class="card-body">
        <h1>New Subcategory</h1>

        <%= render 'form', subcategory: @subcategory %>

        <%= link_to 'Back', location_subcategories_path %>
      </div>
    </div>
  </div>
</div>
