<div class="col-md-5">
  <div class="footer">
    <%= link_to "Terms and Conditions", terms_and_conditions_path, class: "text-muted" %>
  </div>
</div>
<div class="col-md-2">
  <div class="footer">
    <div class="text-muted">© 2018 Copyright suggestapro.com</div>
  </div>
</div>

<div class="col-md-5">
  <div class="footer">
    <%= link_to "Privacy Policy", privacy_policy_path, class: "text-muted" %>
  </div>
</div>
