<header class="masthead mb-auto">
  <div class="dark-theme-alt fixed-top">
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper "nav-link" %>
    </nav>
</header>