<footer class="py-1 bg-dark fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="m-0 text-center text-white"><%= link_to "Terms and Conditions", terms_and_conditions_path, class: 'text-white' %></p>
      </div>
      <div class="col-md-4">
        <p class="m-0 text-center text-white">Copyright &copy; suggestapro.com 2019</p>
      </div>
      <div class="col-md-4">
        <p class="m-0 text-center text-white"><%= link_to "Privacy Policy", privacy_policy_path, class: 'text-white' %></p>
      </div>
    </div>
  </div>
</footer>