
<div class="sidebar-module sidebar-module-inset">
  <h4>About</h4>
  <p>Log in to be redirected to your area or select your area from the list below to continue.</p>
</div>

<div class="sidebar-module">
  <h4>Locations</h4>
  
    <%= link_to "www.bestell.co.za", 'https://12g2.com', class: 'nav-link-home' %> (stellenbosch)
  
</div>


