<% if params.has_key?(:location_id) %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories
    </a>
    <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdownMenuLink">
      <h5><%= link_to "Show All", location_categories_path(location_id: @location), class: 'dropdown-item' %></h5>
      <hr>
      <% Category.order('name ASC').each do |cat| %>
        <%= link_to cat.name, location_subcategories_path(location_id: @location, category_id: cat.id), class: "dropdown-item" %>
      <% end %>
    </div>
  </li>
<% end %>