<div class="login">
  <div class="card">
    <div class="card-body">
      <h1>Edit Suggestion for <%= @business.name %></h1>

      <%= render 'form', rating: @rating %>

      <%= link_to 'Back', location_my_reviews_path(location_id: @location) %>
    </div>
  </div>
</div>


