<div class="login">
  <div class="card">
    <div class="card-body">
      <h1>Suggest a Pro</h1>

      <%= render 'form', rating: @rating %>

      <%= link_to 'Back', location_business_path(@location, @business), class: "btn btn-secondary" %>
    </div>
  </div>
</div>

