<div class="sidebar-module sidebar-module-inset">
  <div class="card card-sidebar text-white">
    <h4>About</h4>
    <p>Log in to be redirected to your area or select your area from the list below to continue.</p>
  </div>
</div>

<%= render 'shared/location_sidebar' %>