<div class="sidebar-module sidebar-module-inset">
  <div class="card card-sidebar text-white">
    <h4>About</h4>
    <p>We often require a service that we usually don't need. Think about plumbing, painting, extra tuition, installing TV or computer networks, physiotherapy and on and on. 
      We ask our friends to suggest experts who can provide the service. We usually trust suggestions from people around us, rather than impersonal ratings. We would rather 
      use a person who is suggested by a neighbor than to trust an add or reviews from people in other places.
      <br>
      <br>
      We recently hired a contractor from a neighboring village with excellent references. Sure he was good, but he took ages to complete the job because he had to 
      travel to and for between the villages.
      <br>
      <br>
      This website is designed to help us to suggest good suppliers to our friends and also for ourselves to go look for suggestions for suppliers of our needs. 
      <br>
      <br>
      Anybody can access any area to look for suggestions, but only people who are registered for an area can suggest experts for that area. Only they can rate such experts.
      <br>
      <br>
      So how it works is that if you want to suggest an expert, you have to register with your name and email address. Then you can log in to either suggest a supplier that 
      you trust or to review the supplier. In that way, you help your neighbors and friends. The inhabitants of a specific area can then deal with these suppliers with  
      bigger confidence.
      <br>
      <br>
      The success of this service depends entirely on user participation.
</p>
  </div>
</div>

<%= render 'shared/location_sidebar' %>