<div class="container">
  <h1>Frequently Asked Questions</h1>
  <hr>
  <p>
  <h3>1) May I be a member of multiple areas?</h3>
  You may only belong to a single area, however you may create businesses entries in all areas.
  </p>
  <p>
  <h3>2) Can the same business name be registered in different areas?</h3>
  Yes, they exist seperately in each area
  </p>
  <p>
  <h3>3) Can I change a review</h3>
  You can change reviews that you created yourself.
  </p>
  <p>
  <h3>4) Can anyone register a business in their area?</h3>
  Yes and if there is no applicable category, you can leave a request at pdivvie@outlook.co.za
  </p>
</div>