<div class="container">
  <h1>Frequently Asked Questions</h1>
  <hr>
  <p>
  <h3>1) May I be a member of multiple areas?</h3>
    You may only belong to a single area, however you may create business entries in all areas.
  </p>
  <p>
  <h3>2) Can the same business name be registered in different areas?</h3>
    Yes, they exist separately in each area.
  </p>
  <p>
  <h3>3) Can I change a review?</h3>
    You can change reviews that you created yourself.
  </p>
  <p>
  <h3>4) Can anyone register a business in their area?</h3>
    Yes they may.
  </p>
  <h3>5) What if there is no applicable category?</h3>
    If there is no applicable category, you can leave a request at <%= mail_to 'pdivvie@outlook.co.za', "pdivvie@outlook.co.za" %>
  </p>
  <h3>6) May I create multiple reviews?</h3>
    You may leave as many reviews as you like, but you may only leave one review per business. 
  </p>
  <h3>7) May I review my own business?</h3>
    No.
  </p>
  <h3>8) Who should I contact if I have any issues regarding the site?</h3>
  <p>
    You may contact Pierre de Villiers at <%= mail_to 'pdivvie@outlook.co.za', "pdivvie@outlook.co.za" %> or Fritz Paul at <%= mail_to 'fritz.paul@gmail.com', "fritz.paul@gmail.com" %>
  </p>
</div>