<div class="col-md-2">
</div>

<div class="col-md-9">
  <p>Log in to be redirected to your area or select your area from the list below to continue<p>

  <%= link_to "www.bestell.co.za", 'https://12g2.com', class: 'nav-link-home' %> (stellenbosch)
</div>

<div class="col-md-1">
</div>
