<div class="container">
  <p>
    <button
      class="btn btn-info"
      type="button"
      data-toggle="collapse"
      data-target="#faq"
      aria-expanded="false"
      aria-controller="faq"
    >
      FAQ
    </button>

    <button
      class="btn btn-info"
      type="button"
      data-toggle="collapse"
      data-target="#news"
      aria-expanded="false"
      aria-controller="news"
    >
      News
    </button>
  </p>

  <p>
    <div class="collapse" id="faq">
      <div class="card card-block">
        <p>
          <h4>1) May I be a member of multiple areas?</h4>
          You may only belong to a single area, however you may create business entries in all areas.
        </p>
      </div>

      <div class="card card-block">
        <p>
          <h4>2) Can the same business name be registered in different areas?</h4>
          Yes, they exist separately in each area.
        </p>
      </div>
      <div class="card card-block">
        <p>
          <h4>3) Can I change a review?</h4>
          You can change reviews that you created yourself.
        </p>
      </div>
      <div class="card card-block">
        <p>
          <h4>4) Can anyone register a business in their area?</h4>
          Yes they may.
        </p>
      </div>
      <div class="card card-block">
        <p>
          <h4>5) What if there is no applicable category?</h4>
          If there is no applicable category, you can leave a request at <%= mail_to 'pdivvie@outlook.co.za', "pdivvie@outlook.co.za" %>
        </p>
      </div>
      <div class="card card-block">
        <p>
          <h3>6) May I create multiple reviews?</h3>
          You may leave as many reviews as you like, but you may only leave one review per business.
        </p>
      </div>
      <div class="card card-block">
        <p>
          <h3>7) May I review my own business?</h3>
          No.
        </p>
      </div>
      <div class="card card-block">
        <p>
          <h3>8) Who should I contact if I have any issues regarding the site?</h3>
          You may contact Pierre de Villiers at <%= mail_to 'pdivvie@outlook.co.za', "pdivvie@outlook.co.za" %> or Fritz Paul at <%= mail_to 'fritz.paul@gmail.com', "fritz.paul@gmail.com" %>
        </p>
      </div>
    </div>
  </p>
</div>