.card-location {
  padding: 30px;
}

.card-block {
  margin: 5px 0px 5px 0px;
  padding: 0px 10px 0px 10px;
}

.card-sidebar {
  background: #5a9be0;
  margin: 5px 0px 5px 0px;
  padding: 10px 10px 10px 10px;
}

.review-theme {
  background-color: #eeeeee;
  padding: 10px 10px 10px 10px;
}