.star-rating {
  white-space: nowrap;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.gritter-item-wrapper {
  margin: 68px -4px -145px -5px;
}

.btn-light {
  margin-bottom: 3px;
}