@import "bootstrap";
@import "font-awesome";
@import "gritter";

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  background-color: #ffffff;
  color: black;
  padding-top: 56px;
  padding-bottom: 56px;
}

.star-rating {
  white-space: nowrap;
}

.light-theme {
  background-color: #ffffff;
  color: #212121;
  text-align: justify;
  text-justify: inter-word;
}

.light-theme-nav {
  background-color: #428bca;
  color: #ffffff;
}

.bg-light {
  background-color: #5a9be0 !important;
}

.review-theme {
  background-color: #eeeeee;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Nav Links */
.navbar-light .navbar-nav .nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #f8f9fa;
}

.navbar-light .navbar-nav .nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #f8f9fa;
}
/* End of Nav Links */

.auth-links a {
  color: black;
}

.fluid-container {
  padding-top: 56px;
}

.navbar > .container {
  padding-top: 0px;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.gritter-item-wrapper {
  margin: 68px -4px -145px -5px;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.footer {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px
}

.card-block {
  margin: 5px 0px 5px 0px;
  padding: 0px 10px 0px 10px;
}