@import "bootstrap";
@import "font-awesome";
@import "gritter";

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  background-color: #ffffff;
  padding-top: 56px;
}

.star-rating {
  white-space: nowrap;
}

.light-theme {
  background-color: #ffffff;
  color: #212121;
  text-align: justify;
  text-justify: inter-word;
  padding-top: 30px;
}

.bg-light {
  background-color: #5a9be0 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #f8f9fa;
}

.review-theme {
  background-color: #eeeeee;
  padding-top: 10px;
  padding-bottom: 10px;
}


.light-theme-nav {
  background-color: #428bca;
  color: #ffffff;
}

/* Nav links */
.navbar-light .navbar-nav .nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #f8f9fa;
}
.navbar-light .navbar-nav .nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #f8f9fa;
}

.business-container {
  padding: 30px;
}

.fluid-container {
  padding-top: 56px;
}

.navbar > .container {
  padding-top: 0px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.gritter-item-wrapper {
  margin: 68px -4px -145px -5px;;
}