@import "bootstrap";
@import "font-awesome";

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  background-color: #ffffff;
  padding-top: 56px;
}

.star-rating {
  padding-left: .75rem;
}

.dark-theme {
  background-color: #212121;
  color: #ffffff;
}

.light-theme {
  background-color: #ffffff;
  color: #212121;
  text-align: justify;
  text-justify: inter-word;
}

.dark-theme:hover,
.dark-theme:focus {
  color: #fff;
  background-color: transparent;
}

.light-theme-nav {
  background-color: #428bca;
  color: #ffffff;
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}

.business-container {
  padding: 30px;
}
