<%= form_for ([@location, @category]) do |form| %>
  <% if category.errors.any? %>
    <% @category.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name, placeholder: "Name...", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Create Category", class: "btn btn-primary" %>
  </div>
<% end %>
