<div class="container light-theme">
  <div class="login">
    <div class="card">
      <div class="card-body">
        <h1>New Category</h1>

        <%= render 'form', category: @category %>

        <%= link_to 'Back', categories_path %>
      </div>
    </div>
  </div>
</div>
