<div class="row">

  <div class="col-md-7">
    <%= image_tag location_img(location.thumb_image.url), width: 350, height: 200 %>
  </div>

  <div class="col-md-5">
    <div class="card-body">
      <h5 class="card-title text-align: center"><%= location.name %></h5>
      <p class="card-text">
        <span><%= link_to 'Show', location_businesses_path(location_id: location), class: "btn btn-primary btn-block" %></span>    
      </p>
    </div>
  </div>

</div>

<br>
<hr>
<br>
